<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar | Mirinda UI</title>
    <link rel="stylesheet" href="/Styles/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/stackoverflow-dark.min.css" />
</head>

<body>
    <header class="header pd-x-md pd-t-md">
        <h1 class="pd-t-md">Mirinda<span class="prim-color">UI</span></h1>
    </header>

    <div class="drawer">
        <div class="navigation shadows">
            <ul class="prim-color">
                <li>
                    <a href="/Templates/Avatars/avatar.html">
                        <span class="smol-ico">
                            <i class="fs-l fas fa-users"></i>
                        </span>
                        <span class="smol-title"> Avatars </span>
                    </a>
                </li>
                <li>
                    <a href="/Templates/Alerts/Alert.html">
                        <span class="smol-ico">
                            <i class="fs-l fas fa-exclamation-circle"></i>
                        </span>
                        <span class="smol-title"> Alert </span>
                    </a>
                </li>
                <li>
                    <a href="/Templates/Badges/Badge.html">
                        <span class="smol-ico">
                            <i class="fs-l fas fa-ribbon"></i>
                        </span>
                        <span class="smol-title"> Badges </span>
                    </a>
                </li>
                <li>
                    <a href="/Templates/Buttons/buttons.html">
                        <span class="smol-ico">
                            <i class="fs-l fas fa-sliders-h"></i>
                        </span>
                        <span class="smol-title"> Buttons </span>
                    </a>
                </li>
                <li>
                    <a href="/Templates/Cards/cards.html">
                        <span class="smol-ico">
                            <i class="fs-l far fa-id-badge"></i>
                        </span>
                        <span class="smol-title"> Card </span>
                    </a>
                </li>
                <li>
                    <a href="/Templates/Images/images.html">
                        <span class="smol-ico">
                            <i class="fs-l far fa-images"></i>
                        </span>
                        <span class="smol-title"> Images </span>
                    </a>
                </li>
                <li>
                    <a href="/Templates/Inputs/inputs.html">
                        <span class="smol-ico">
                            <i class="fs-l far fa-keyboard"></i>
                        </span>
                        <span class="smol-title"> Input </span>
                    </a>
                </li>
                <li>
                    <a href="/Templates/Ratings/ratings.html">
                        <span class="smol-ico">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="smol-title"> Ratings </span>
                    </a>
                </li>
                <li>
                    <a href="/Templates/Snackbar/snackbar.html">
                        <span class="smol-ico">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span class="smol-title"> Snackbar </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="btn-toggle-drawer">
            <span class="ico closed-ico">
                <i class="fas fa-chevron-circle-right"></i>
            </span>
            <span class="ico open-ico">
                <i class="fas fa-chevron-circle-left"></i>
            </span>
        </div>
    </div>

    <div class="container"></div>

    <footer class="footer">
        <i class="far fa-copyright"></i> Created by
        <a class="btn-link btn-link-noBorder mg-y-sm fw-xxxl" href="http://github.com/Sameony" target="_blank">Mohammed
            Sameer</a>
    </footer>
    <script src="/js/main.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>