<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar | Mirinda UI</title>
    <link rel="stylesheet" href="/Styles/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/stackoverflow-dark.min.css" />
</head>

<body>
    <header class="header pd-x-md pd-t-md">
        <h1 class="pd-t-md">Mirinda<span class="prim-color">UI</span></h1>
    </header>

    <div class="drawer">
        <div class="navigation shadows">
            <ul class="prim-color">
                <li>
                    <a href="/Templates/Avatars/avatar.html">
                        <span class="smol-ico">
                            <i class="fs-l fas fa-users"></i>
                        </span>
                        <span class="smol-title"> Avatars </span>
                    </a>
                </li>
                <li>
                    <a href="/Templates/Alerts/Alert.html">
                        <span class="smol-ico">
                            <i class="fs-l fas fa-exclamation-circle"></i>
                        </span>
                        <span class="smol-title"> Alert </span>
                    </a>
                </li>
                <li>
                    <a href="/Templates/Badges/Badge.html">
                        <span class="smol-ico">
                            <i class="fs-l fas fa-ribbon"></i>
                        </span>
                        <span class="smol-title"> Badges </span>
                    </a>
                </li>
                <li>
                    <a href="/Templates/Buttons/buttons.html">
                        <span class="smol-ico">
                            <i class="fs-l fas fa-sliders-h"></i>
                        </span>
                        <span class="smol-title"> Buttons </span>
                    </a>
                </li>
                <li>
                    <a href="/Templates/Cards/cards.html">
                        <span class="smol-ico">
                            <i class="fs-l far fa-id-badge"></i>
                        </span>
                        <span class="smol-title"> Card </span>
                    </a>
                </li>
                <li>
                    <a href="/Templates/Images/images.html">
                        <span class="smol-ico">
                            <i class="fs-l far fa-images"></i>
                        </span>
                        <span class="smol-title"> Images </span>
                    </a>
                </li>
                <li>
                    <a href="/Templates/Inputs/inputs.html">
                        <span class="smol-ico">
                            <i class="fs-l far fa-keyboard"></i>
                        </span>
                        <span class="smol-title"> Input </span>
                    </a>
                </li>
                <li>
                    <a href="/Templates/Ratings/ratings.html">
                        <span class="smol-ico">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="smol-title"> Ratings </span>
                    </a>
                </li>
                <li>
                    <a href="/Templates/Snackbar/snackbar.html">
                        <span class="smol-ico">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span class="smol-title"> Snackbar </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="btn-toggle-drawer">
            <span class="ico closed-ico">
                <i class="fas fa-chevron-circle-right"></i>
            </span>
            <span class="ico open-ico">
                <i class="fas fa-chevron-circle-left"></i>
            </span>
        </div>
    </div>

    <div class="container">
        <h1 class="pd-y-md mg-y-sm">Avatars</h1>
        <div class="contentArticle pd-y-sm">
            An avatar is a graphical representation of a user or the user's
            character or persona. Avatars usually have matching height and width,
            and can be used as the profile picture or display picture.
        </div>
        <h2 class="contentHeader mg-y-sm">Square Avatars</h2>
        <div class="contentArticle pd-y-sm">
            Basic square avatars. These are default so you do not need to explicitly
            define a class for the shape. Just define the margins and avatar size.
            for square avatars.
        </div>
        <div class="cardShow">
            <img src="/Assets/Images/avatar2.jpg" alt="squareAvatar" class="avatar-xs mg-md" />
            <img src="/Assets/Images/avatar2.jpg" alt="squareAvatar" class="avatar-sm mg-md" />
            <img src="/Assets/Images/avatar2.jpg" alt="squareAvatar" class="avatar-md mg-md" />
            <img src="/Assets/Images/avatar2.jpg" alt="squareAvatar" class="avatar-lg mg-md" />
            <img src="/Assets/Images/avatar2.jpg" alt="squareAvatar" class="avatar-xl mg-md" />
        </div>
        <pre>
            <code class="showcase">
    <div class="cardShow">
        <img src="/Assets/Images/avatar2.jpg" alt="squareAvatar" class="avatar-xs mg-md">
        <img src="/Assets/Images/avatar2.jpg" alt="squareAvatar" class="avatar-sm mg-md">
        <img src="/Assets/Images/avatar2.jpg" alt="squareAvatar" class="avatar-md mg-md">
        <img src="/Assets/Images/avatar2.jpg" alt="squareAvatar" class="avatar-lg mg-md">
        <img src="/Assets/Images/avatar2.jpg" alt="squareAvatar" class="avatar-xl mg-md">
    </div>
            </code>
        </pre>

        <h2 class="contentHeader mg-y-sm">Soft Bordered Avatars</h2>
        <div class="contentArticle pd-y-sm">
            Slightly rounded avatar borders. Use class
            <span class="snippets">softAvatar</span>
            for square avatars.
        </div>
        <div class="cardShow">
            <img src="/Assets/Images/avatar3.jpg" alt="softAvatar" class="avatar-xs softAvatar mg-md" />
            <img src="/Assets/Images/avatar3.jpg" alt="softAvatar" class="avatar-sm softAvatar mg-md" />
            <img src="/Assets/Images/avatar3.jpg" alt="softAvatar" class="avatar-md softAvatar mg-md" />
            <img src="/Assets/Images/avatar3.jpg" alt="softAvatar" class="avatar-lg softAvatar mg-md" />
            <img src="/Assets/Images/avatar3.jpg" alt="softAvatar" class="avatar-xl softAvatar mg-md" />
        </div>
        <pre>
            <code class="showcase">
    <div class="cardShow">
        <img src="avatar path here" alt="softAvatar" class="avatar-xs softAvatar mg-md">
        <img src="avatar path here" alt="softAvatar" class="avatar-sm softAvatar mg-md">
        <img src="avatar path here" alt="softAvatar" class="avatar-md softAvatar mg-md">
        <img src="avatar path here" alt="softAvatar" class="avatar-lg softAvatar mg-md">
        <img src="avatar path here" alt="softAvatar" class="avatar-xl softAvatar mg-md">
    </div>
            </code>
        </pre>

        <h2 class="contentHeader mg-y-sm">Round Avatars</h2>
        <div class="contentArticle pd-y-sm">
            These are circular avatars. Use class
            <span class="snippets">roundAvatar</span> for round avatars.
        </div>
        <div class="cardShow">
            <img src="/Assets/Images/avatar1.jpg" alt="roundAvatar" class="avatar-xs roundAvatar mg-md" />
            <img src="/Assets/Images/avatar1.jpg" alt="roundAvatar" class="avatar-sm roundAvatar mg-md" />
            <img src="/Assets/Images/avatar1.jpg" alt="roundAvatar" class="avatar-md roundAvatar mg-md" />
            <img src="/Assets/Images/avatar1.jpg" alt="roundAvatar" class="avatar-lg roundAvatar mg-md" />
            <img src="/Assets/Images/avatar1.jpg" alt="roundAvatar" class="avatar-xl roundAvatar mg-md" />
        </div>
        <pre>
            <code class="showcase">
    <div class="cardShow">
        <img src="avatar path here" alt="roundAvatar" class="avatar-xs roundAvatar mg-md">
        <img src="avatar path here" alt="roundAvatar" class="avatar-sm roundAvatar mg-md">
        <img src="avatar path here" alt="roundAvatar" class="avatar-md roundAvatar mg-md">
        <img src="avatar path here" alt="roundAvatar" class="avatar-lg roundAvatar mg-md">
        <img src="avatar path here" alt="roundAvatar" class="avatar-xl roundAvatar mg-md">
    </div>
            </code>
        </pre>
        <h2 class="contentHeader mg-y-sm">Letter Avatars</h2>
        <div class="contentArticle pd-y-sm">
            When an image is not available, user can also use a letter as his
            avatar. Use class <span class="snippets">roundAvatar</span> for round
            avatars.
        </div>
        <div class="cardShow">
            <div class="fs-sm avatar-xs roundAvatar mg-md letterAvatar">M</div>
            <div class="fs-md avatar-sm roundAvatar mg-md letterAvatar">U</div>
            <div class="fs-lg avatar-md roundAvatar mg-md letterAvatar">S</div>
            <div class="fs-xl avatar-lg roundAvatar mg-md letterAvatar">S</div>
            <div class="fs-xxl avatar-xl roundAvatar mg-md letterAvatar">U</div>
        </div>
        <pre>
            <code class="showcase">
    <div class="cardShow">
        <div class="fs-sm avatar-xs roundAvatar mg-md letterAvatar">M</div>
        <div class="fs-md avatar-sm roundAvatar mg-md letterAvatar">U</div>
        <div class="fs-lg avatar-md roundAvatar mg-md letterAvatar">S</div>
        <div class="fs-xl avatar-lg roundAvatar mg-md letterAvatar">S</div>
        <div class="fs-xxl avatar-xl roundAvatar mg-md letterAvatar">U</div>
    </div>
            </code>
        </pre>
    </div>

    <footer class="footer">
        <i class="far fa-copyright"></i> Created by
        <a class="btn-link btn-link-noBorder mg-y-sm fw-xxxl" href="http://github.com/Sameony" target="_blank">Mohammed
            Sameer</a>
    </footer>
    <script src="/js/main.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>