Templates/Ratings/ratings.js
Assets/.prettierrc
Templates/Ratings/ratings.html
Templates/Cards/cards.html
Templates/Buttons/buttons.html
Templates/Inputs/inputs.html
Templates/Avatars/avatar.html
Templates/Alerts/Alert.html
Templates/Badges/Badge.html
js/snack.js
Templates/Snackbar/snackbar.html
