<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheets and icon imports -->
    <link rel="stylesheet" href="/Styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/stackoverflow-dark.min.css">
    <link rel="shortcut icon" href="/Assets/Images/landingPic.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/c61125ee40.js" crossorigin="anonymous"></script>
    <title>Modal | Mirinda UI</title>

</head>

<body>

    <header class="header pd-x-md pd-t-md">
        <h1 class="pd-t-md"> Mirinda<span class="prim-color">UI</span> </h1>
    </header>


    <div class="drawer">
        <div class="navigation shadows">
            <ul class="prim-color">
                <li title="Introduction">
                    <a href="/Templates/Introduction/introduction.html">
                        <span class="smol-ico">
                            <i class="fs-l fas fa-play"></i>
                        </span>
                        <span class="smol-title"> Introduction </span>
                    </a>
                </li>
                <li title="Avatars">
                    <a href="/Templates/Avatars/avatar.html">
                        <span class="smol-ico">
                            <i class="fs-l fas fa-users"></i>
                        </span>
                        <span class="smol-title"> Avatars </span>
                    </a>
                </li>
                <li title="Alerts">
                    <a href="/Templates/Alerts/Alert.html">
                        <span class="smol-ico">
                            <i class="fs-l fas fa-exclamation-circle"></i>
                        </span>
                        <span class="smol-title"> Alert </span>
                    </a>
                </li>
                <li title="Badges">
                    <a href="/Templates/Badges/Badge.html">
                        <span class="smol-ico">
                            <i class="fs-l fas fa-ribbon"></i>
                        </span>
                        <span class="smol-title"> Badges </span>
                    </a>
                </li>
                <li title="Buttons">
                    <a href="/Templates/Buttons/buttons.html">
                        <span class="smol-ico">
                            <i class="fa-regular fa-hand-pointer"></i>
                        </span>
                        <span class="smol-title"> Buttons </span>
                    </a>
                </li>
                <li title="Card">
                    <a href="/Templates/Cards/cards.html">
                        <span class="smol-ico">
                            <i class="fs-l far fa-id-badge"></i>
                        </span>
                        <span class="smol-title"> Card </span>
                    </a>
                </li>

                <li title="Grid">
                    <a href="/Templates/Grids/grids.html">
                        <span class="smol-ico">
                            <i class="fa-solid fa-grip"></i>
                        </span>
                        <span class="smol-title"> Grid </span>
                    </a>
                </li>
                <li title="Images">
                    <a href="/Templates/Images/images.html">
                        <span class="smol-ico">
                            <i class="fs-l far fa-images"></i>
                        </span>
                        <span class="smol-title"> Images </span>
                    </a>
                </li>
                <li title="Input">
                    <a href="/Templates/Inputs/inputs.html">
                        <span class="smol-ico">
                            <i class="fs-l far fa-keyboard"></i>
                        </span>
                        <span class="smol-title"> Input </span>
                    </a>
                </li>
                <li title="Lists">
                    <a href="/Templates/Lists/lists.html">
                        <span class="smol-ico">
                            <i class="fa-solid fa-list"></i>
                        </span>
                        <span class="smol-title"> Lists </span>
                    </a>
                </li>
                <li title="Modal">
                    <a href="/Templates/Modal/modal.html">
                        <span class="smol-ico">
                            <i class="fa-solid fa-question"></i>
                        </span>
                        <span class="smol-title"> Modal </span>
                    </a>
                </li>
                <li title="Navigation">
                    <a href="/Templates/Navigation/navigation.html">
                        <span class="smol-ico">
                            <i class="fa-solid fa-bars"></i>
                        </span>
                        <span class="smol-title"> Navigation </span>
                    </a>
                </li>
                <li title="Ratings">
                    <a href="/Templates/Ratings/ratings.html">
                        <span class="smol-ico">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="smol-title"> Ratings </span>
                    </a>
                </li>
                <li title="Slider">
                    <a href="/Templates/Slider/slider.html">
                        <span class="smol-ico">
                            <i class="fs-l fas fa-sliders-h"></i>
                        </span>
                        <span class="smol-title"> Snackbar </span>
                    </a>
                </li>
                <li title="Snackbars">
                    <a href="/Templates/Snackbar/snackbar.html">
                        <span class="smol-ico">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span class="smol-title"> Snackbar </span>
                    </a>
                </li>
                <li title="Typography">
                    <a href="/Templates/Typography/typography.html">
                        <span class="smol-ico fw-xxl">
                            Tt
                        </span>
                        <span class="smol-title"> Typography </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="btn-toggle-drawer">
            <span class="ico closed-ico">
                <i class="fas fa-chevron-circle-right"></i>
            </span>
            <span class="ico open-ico">
                <i class="fas fa-chevron-circle-left"></i>
            </span>
        </div>
    </div>

    <div class="container">

        <h1 class="pd-y-md mg-y-sm">Modals</h1>
        <div class="contentArticle pd-y-sm">
            Modals are popups or blocks of information that are used to get feedback from user or require an action from
            the user. They generally block the flow of the webpage until an action is chosen by the user.
        </div>
        <h2 class="contentHeader mg-y-sm">Confirmation Modal</h2>
        <div class="cardShow pd-md align-items-center">
            <div class="modal">
                <h2>Confirmation</h2>
                <div class="contentArticle pd-sm">
                    Are you sure you want to follow that person who gave you chocolate?
                    <div class="flex flex-spc-arnd">
                        <button class="btn mg-sm btn-success">Yes</button>
                        <button class="btn mg-sm btn-caution">No </button>
                    </div>
                </div>
            </div>
        </div>
        <pre>
            <code class="showcase">
        <div class="modal">
            <h2>Confirmation</h2>
            <div class="contentArticle pd-sm">
                Are you sure you want to follow that person who gave you chocolate?
                <div class="flex flex-spc-arnd">
                    <button class="btn mg-sm btn-success">Yes</button>
                    <button class="btn mg-sm btn-caution">No </button>
                </div>
            </div>
        </div>
            </code>
        </pre>
    </div>



    <footer class="footer">
        <i class="far fa-copyright"></i> Created by <a class="btn-link btn-link-noBorder mg-y-sm fw-xxxl"
            href="http://github.com/Sameony" target="_blank">Mohammed Sameer</a>
    </footer>
    <script src="/js/main.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>

</body>

</html>