.cardShow{
    background-color: var(--peach);
    display: flex;
}
.cardContainer {
    max-width: 20rem;
    transition: all ease 0.4s;
    background-color: var(--snow);
}
.cardShow .fixed{
    border: 1px solid var(--primary);
}
.cardFoot .btn-link-noBorder:hover{
    font-size: initial;
    background-color: var(--dark-peach);
}
.partialCard {
    display: flex;
    flex-direction: column;
}

.cardFoot {
    display: flex;
    justify-content: space-around;
    align-items: center;
}