<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cards | Mirinda UI</title>
    <link rel="stylesheet" href="/Styles/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/stackoverflow-dark.min.css" />
</head>

<body>
    <header class="header pd-x-md pd-t-md">
        <h1 class="pd-t-md">Mirinda<span class="prim-color">UI</span></h1>
    </header>

    <div class="drawer">
        <div class="navigation shadows">
            <ul class="prim-color">
                <li>
                    <a href="/Templates/Avatars/avatar.html">
                        <span class="smol-ico">
                            <i class="fs-l fas fa-users"></i>
                        </span>
                        <span class="smol-title"> Avatars </span>
                    </a>
                </li>
                <li>
                    <a href="/Templates/Alerts/Alert.html">
                        <span class="smol-ico">
                            <i class="fs-l fas fa-exclamation-circle"></i>
                        </span>
                        <span class="smol-title"> Alert </span>
                    </a>
                </li>
                <li>
                    <a href="/Templates/Badges/Badge.html">
                        <span class="smol-ico">
                            <i class="fs-l fas fa-ribbon"></i>
                        </span>
                        <span class="smol-title"> Badges </span>
                    </a>
                </li>
                <li>
                    <a href="/Templates/Buttons/buttons.html">
                        <span class="smol-ico">
                            <i class="fs-l fas fa-sliders-h"></i>
                        </span>
                        <span class="smol-title"> Buttons </span>
                    </a>
                </li>
                <li>
                    <a href="/Templates/Cards/cards.html">
                        <span class="smol-ico">
                            <i class="fs-l far fa-id-badge"></i>
                        </span>
                        <span class="smol-title"> Card </span>
                    </a>
                </li>
                <li>
                    <a href="/Templates/Images/images.html">
                        <span class="smol-ico">
                            <i class="fs-l far fa-images"></i>
                        </span>
                        <span class="smol-title"> Images </span>
                    </a>
                </li>
                <li>
                    <a href="/Templates/Inputs/inputs.html">
                        <span class="smol-ico">
                            <i class="fs-l far fa-keyboard"></i>
                        </span>
                        <span class="smol-title"> Input </span>
                    </a>
                </li>
                <li>
                    <a href="/Templates/Ratings/ratings.html">
                        <span class="smol-ico">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="smol-title"> Ratings </span>
                    </a>
                </li>
                <li>
                    <a href="/Templates/Snackbar/snackbar.html">
                        <span class="smol-ico">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span class="smol-title"> Snackbar </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="btn-toggle-drawer">
            <span class="ico closed-ico">
                <i class="fas fa-chevron-circle-right"></i>
            </span>
            <span class="ico open-ico">
                <i class="fas fa-chevron-circle-left"></i>
            </span>
        </div>
    </div>

    <div class="container">
        <h1 class="pd-y-md mg-y-sm">Cards</h1>
        <div class="contentArticle pd-y-sm">
            Cards are used to display items of same type or category. Cards can appear
            to be either fixed or elevated.
        </div>
        <h2 class="contentHeader mg-y-sm">Basic Text cards</h2>
        <div class="contentArticle pd-y-sm">
            These are basic text only cards, that are used to convey simple but
            slightly important information. They can be elevated(shadows) or fixed.
        </div>
        <div class="cardShow pd-md">
            <div class="cardContainer shadows mg-x-md">
                <div class="partialCard">
                    <div class="cardHeader pd-l-md">
                        <div class="cardHead fs-l fw-xxxl prim-color">Mirinda</div>
                        <div class="fs-s pd-y-sm pd-l-md">by Sameer</div>
                    </div>
                    <div class="cardContent mg-sm pd-l-sm">
                        Cats are often connected with the term of nyaa. I must say, i do
                        nyat hate that. Elevated nya.
                    </div>
                </div>

                <div class="cardFoot mg-y-sm">
                    <a class="btn-link btn-link-noBorder mg-y-sm fw-xxxl" href="#">Action1</a>
                    <a class="btn-link btn-link-noBorder mg-y-sm fw-xxxl" href="#">Action2</a>
                </div>
            </div>
            <div class="cardContainer fixed mg-x-md">
                <div class="partialCard">
                    <div class="cardHeader pd-l-md">
                        <div class="cardHead fs-l fw-xxxl prim-color">Mirinda</div>
                        <div class="fs-s pd-y-sm pd-l-md">by Sameer</div>
                    </div>
                    <div class="cardContent mg-sm pd-l-sm">
                        Cats are often connected with the term of nyaa. I must say, i do
                        nyat hate that. Fixed nya.
                    </div>
                </div>

                <div class="cardFoot mg-y-sm">
                    <a class="btn-link btn-link-noBorder mg-y-sm fw-xxxl" href="#">Action1</a>
                    <a class="btn-link btn-link-noBorder mg-y-sm fw-xxxl" href="#">Action2</a>
                </div>
            </div>
        </div>

        <pre>
            <code class="showcase">
    <div class="cardShow pd-md">
        <div class="cardContainer shadows mg-x-md">
            <div class="partialCard">
                <div class="cardHeader pd-l-md">
                    <div class="cardHead fs-l fw-xxxl prim-color">Mirinda</div>
                    <div class="fs-s pd-y-sm pd-l-md"> by Sameer</div>
                </div>
                <div class="cardContent mg-sm pd-l-sm">Cats are often connected with the term of nyaa. I must say, i do nyat hate that.
                    Elevated nya.
                </div>
            </div>

            <div class="cardFoot mg-y-sm">
                <a class="btn-link btn-link-noBorder mg-y-sm fw-xxxl" href="#">Action1</a>
                <a class="btn-link btn-link-noBorder mg-y-sm fw-xxxl" href="#">Action2</a>

            </div>

        </div>
        <div class="cardContainer fixed mg-x-md">
            <div class="partialCard">
                <div class="cardHeader pd-l-md">
                    <div class="cardHead fs-l fw-xxxl prim-color">Mirinda</div>
                    <div class="fs-s pd-y-sm pd-l-md"> by Sameer</div>
                </div>
                <div class="cardContent mg-sm pd-l-sm">Cats are often connected with the term of nyaa. I must say, i do nyat hate that.
                    Fixed nya.
                </div>
            </div>

            <div class="cardFoot mg-y-sm">
                <a class="btn-link btn-link-noBorder mg-y-sm fw-xxxl" href="#">Action1</a>
                <a class="btn-link btn-link-noBorder mg-y-sm fw-xxxl" href="#">Action2</a>

            </div>

        </div>
    </div>
            </code>
        </pre>

        <h2 class="contentHeader mg-y-sm">Cards w/ Image</h2>
        <div class="contentArticle pd-y-sm">
            These cards have an image and a header along with related content inside
            it. It may or may not have action buttons.
        </div>
        <div class="cardShow pd-md">
            <div class="cardContainer shadows mg-x-md">
                <div class="partialCard">
                    <div class="cardHeader pd-l-md">
                        <div class="cardHead fs-l fw-xxxl prim-color">Mirinda</div>
                        <div class="fs-s pd-y-sm pd-l-md">by Sameer</div>
                    </div>
                    <div class="cardPic">
                        <img src="/Assets/Images/patCat.jpg" />
                    </div>
                    <div class="cardContent mg-sm pd-l-sm">
                        Cats are often connected with the term of nyaa. I must say, i do
                        nyat hate that. Elevated nya.
                    </div>
                </div>

                <div class="cardFoot mg-y-sm">
                    <a class="btn-link btn-link-noBorder mg-y-sm fw-xxxl" href="#">Pat</a>
                    <a class="btn-link btn-link-noBorder mg-y-sm fw-xxxl" href="#">Give Treats</a>
                </div>
            </div>
            <div class="cardContainer fixed mg-x-md">
                <div class="partialCard">
                    <div class="cardHeader pd-l-md">
                        <div class="cardHead fs-l fw-xxxl prim-color">Mirinda</div>
                        <div class="fs-s pd-y-sm pd-l-md">by Sameer</div>
                    </div>
                    <div class="cardPic">
                        <img src="/Assets/Images/patCat.jpg" />
                    </div>
                    <div class="cardContent mg-sm pd-l-sm">
                        Cats are often connected with the term of nyaa. I must say, i do
                        nyat hate that. Elevated nya.
                    </div>
                </div>

                <div class="cardFoot mg-y-sm">
                    <a class="btn-link btn-link-noBorder mg-y-sm fw-xxxl" href="#">Pat</a>
                    <a class="btn-link btn-link-noBorder mg-y-sm fw-xxxl" href="#">Give Treats</a>
                </div>
            </div>
        </div>

        <pre>
            <code class="showcase">
    <div class="cardShow pd-md">
        <div class="cardContainer shadows mg-x-md">
            <div class="partialCard">
                <div class="cardPic">
                    <img src="/Assets/Images/patCat.jpg">
                </div>
                <div class="cardHead fs-l fw-xxxl prim-color">Mirinda</div>
                <div class="cardContent mg-sm pd-l-sm">Cats are often connected with the term of nyaa. I must say, i do nyat hate that.
                    Elevated nya.
                </div>
            </div>

            <div class="cardFoot mg-y-sm">
                <a class="btn-link btn-link-noBorder mg-y-sm fw-xxxl" href="#">Pat</a>
                <a class="btn-link btn-link-noBorder mg-y-sm fw-xxxl" href="#">Give Treats</a>

            </div>

        </div>
        <div class="cardContainer fixed mg-x-md">
            <div class="partialCard">
                <div class="cardHeader pd-l-md">
                    <div class="cardHead fs-l fw-xxxl prim-color">Mirinda</div>
                    <div class="fs-s pd-y-sm pd-l-md"> by Sameer</div>
                </div>
                <div class="cardPic">
                    <img src="/Assets/Images/patCat.jpg">
                </div>
                <div class="cardContent mg-sm pd-l-sm">Cats are often connected with the term of nyaa. I must say, i do nyat hate that.
                    Fixed nya.
                </div>
            </div>

            <div class="cardFoot mg-y-sm">
                <a class="btn-link btn-link-noBorder mg-y-sm fw-xxxl" href="#">Pat</a>
                <a class="btn-link btn-link-noBorder mg-y-sm fw-xxxl" href="#">Give Treats</a>

            </div>

        </div>
    </div>
            </code>
        </pre>

        <h2 class="contentHeader mg-y-sm">Product cards</h2>
        <div class="contentArticle pd-y-sm">
            These cards are used to display and endorse particular products.
            Commonly used in e-commerce webapps.
        </div>

        <div class="cardShow pd-md">
            <div class="cardContainer shadows mg-x-md">
                <div class="partialCard">
                    <div class="cardPic mg-b-sm">
                        <img src="/Assets/Images/productCup.jpg" />
                    </div>
                    <div class="priceContainer pd-l-md">
                        <div class="cardHead fs-l fw-xxxl prim-color">
                            Witch's Drinking Cup
                        </div>
                        <div class="productPrice fs-l">Rs. 8999</div>
                    </div>
                </div>

                <div class="cardFoot mg-y-sm">
                    <button class="btn btn-primary mg-y-sm">
                        <i class="fas fa-shopping-cart mg-r-sm"></i>Add to Cart
                    </button>
                </div>
            </div>

            <div class="cardContainer shadows mg-x-md">
                <div class="partialCard">
                    <div class="cardPic mg-b-sm">
                        <img src="/Assets/Images/productCup.jpg" />
                    </div>
                    <div class="priceContainer pd-l-md">
                        <div class="cardHead fs-l fw-xxxl prim-color">
                            Witch's Drinking Cup
                        </div>
                        <div class="productPrice fs-l">
                            Rs.8999
                            <strike class="fs-m">Rs.14400</strike>
                        </div>
                    </div>
                </div>

                <div class="cardFoot mg-y-sm">
                    <button class="btn btn-primary mg-y-sm">
                        <i class="fas fa-shopping-cart mg-r-sm"></i>Add to Cart
                    </button>
                </div>
            </div>
        </div>
        <pre>
            <code class="showcase">
                <div class="cardContainer shadows mg-x-md">
                    <div class="partialCard">
                        <div class="cardPic mg-b-sm">
                            <img src="/Assets/Images/productCup.jpg" />
                        </div>
                        <div class="priceContainer pd-l-md">
                            <div class="cardHead fs-l fw-xxxl prim-color">Witch's Drinking Cup</div>
                            <div class="productPrice fs-l">Rs. 8999</div>
                        </div>
    
                    </div>
    
                    <div class="cardFoot mg-y-sm">
                        <button class="btn btn-primary mg-y-sm">
                            <i class="fas fa-shopping-cart mg-r-sm"></i>Add to
                            Cart</button>
                    </div>
                </div>
    
                <div class="cardContainer shadows mg-x-md">
                    <div class="partialCard">
                        <div class="offerProduct shadows pd-sm">60% OFF!</div>
                        <div class="cardPic mg-b-sm">
                            <img src="/Assets/Images/productCup.jpg" />
                        </div>
                        <div class="priceContainer pd-l-md">
                            <div class="cardHead fs-l fw-xxxl prim-color">Witch's Drinking Cup</div>
                            <div class="productPrice fs-l">Rs.8999
                                <strike class="fs-m">Rs.14400</strike>
                            </div>
    
                        </div>
    
                    </div>
    
                    <div class="cardFoot mg-y-sm">
                        <button class="btn btn-primary mg-y-sm">
                            <i class="fas fa-shopping-cart mg-r-sm"></i>Add to
                            Cart</button>
                    </div>
                </div>
            </code>
        </pre>

        <h2 class="contentHeader mg-y-sm">Horizontal cards</h2>

        <div class="cardShow horizontalCard pd-md">
            <div class="cardContainer shadows mg-x-md">
                <div class="cardPic">
                    <img src="/Assets/Images/productCup.jpg" />
                </div>
                <div class="offerProduct shadows pd-sm">60% OFF!</div>
                <div class="partialCard mg-x-md">
                    <div class="cardHead fs-l fw-xxxl prim-color">
                        Witch's Drinking Cup
                    </div>
                    <div class="cardContent pd-l-sm">
                        Use this cauldron to master the arts of witchcraft and have a sip
                        of your favourite drink with ease.
                    </div>
                    <div class="productPrice fs-l">
                        Rs.8999
                        <strike class="fs-m">Rs.14400</strike>
                    </div>
                    <div class="cardFoot mg-y-sm">
                        <button class="btn btn-primary mg-y-sm">
                            <i class="fas fa-shopping-cart mg-r-sm"></i>Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <pre>
            <code class="showcase">
                <div class="cardContainer shadows mg-x-md">
                    <div class="cardPic">
                        <img src="/Assets/Images/productCup.jpg" />
                    </div>
                    <div class="offerProduct shadows pd-sm">60% OFF!</div>
                    <div class="partialCard mg-x-md">
                        <div class="cardHead fs-l fw-xxxl prim-color">Witch's Drinking Cup</div>
                        <div class="cardContent pd-l-sm">
                            Use this cauldron to master the arts of witchcraft and have a sip
                        of your favourite drink with ease.
                        </div>
                        <div class="productPrice fs-l">Rs.8999
                            <strike class="fs-m">Rs.14400</strike>
                        </div>
    
    
    
                        <div class="cardFoot mg-y-sm">
                            <button class="btn btn-primary mg-y-sm">
                                <i class="fas fa-shopping-cart mg-r-sm"></i>Add to Cart
                            </button>
                        </div>
                    </div>
                </div>   
            </code>
        </pre>

        <h2 class="contentHeader mg-y-sm">Cards w/ Badge and dismiss</h2>

        <div class="cardShow horizontalCard pd-md">
            <div class="cardContainer shadows mg-x-md">
                <div class="cardPic">
                    <img src="/Assets/Images/productCup.jpg" />
                </div>
                <div class="offerProduct shadows pd-sm">60% OFF!</div>
                <div class="partialCard mg-x-md">
                    <div class="cardHead mg-t-md fs-l fw-xxxl prim-color">
                        Witch's Drinking Cup
                    </div>
                    <div class="cardContent pd-l-sm">
                        Use this cauldron to master the arts of witchcraft and have a sip
                        of your favourite drink with ease.
                    </div>
                    <div class="productPrice fs-l">
                        Rs.8999
                        <strike class="fs-m">Rs.14400</strike>
                    </div>
                    <div class="cardFoot mg-y-sm">
                        <button class="btn btn-primary mg-y-sm">
                            <i class="fas fa-shopping-cart mg-r-sm"></i>Add to Cart
                        </button>
                    </div>
                </div>
                <i class="crossProduct pd-sm fas fa-times fs-l"></i>
            </div>
        </div>
        <pre>
            <code class="showcase">
                <div class="cardShow horizontalCard pd-md">
                    <div class="cardContainer shadows mg-x-md">
                        <div class="cardPic">
                            <img src="/Assets/Images/productCup.jpg" />
                        </div>
                        <div class="offerProduct shadows pd-sm">60% OFF!</div>
                        <div class="partialCard mg-x-md">
                            <div class="cardHead mg-t-md fs-l fw-xxxl prim-color">
                                Witch's Drinking Cup
                            </div>
                            <div class="cardContent pd-l-sm">
                                Use this cauldron to master the arts of witchcraft and have a sip
                                of your favourite drink with ease.
                            </div>
                            <div class="productPrice fs-l">
                                Rs.8999
                                <strike class="fs-m">Rs.14400</strike>
                            </div>
        
                            <div class="cardFoot mg-y-sm">
                                <button class="btn btn-primary mg-y-sm">
                                    <i class="fas fa-shopping-cart mg-r-sm"></i>Add to Cart
                                </button>
                            </div>
                        </div>
                        <i class="crossProduct pd-sm fas fa-times fs-l"></i>
                    </div>
                </div>    
            </code>
        </pre>

        <h2 class="contentHeader mg-y-sm">Cards w/ Text Overlay</h2>
        <div class="cardShow pd-md">
            <div class="cardContainer shadows mg-x-md">
                <div class="partialCard">
                    <div class="cardHeader pd-l-md">
                        <div class="cardHead fs-l fw-xxxl mg-y-sm prim-color">
                            Blanket
                        </div>
                    </div>
                    <div class="cardPic">
                        <img src="/Assets/Images/sleepCat.jpg" />
                        <div class="overlay">
                            <div class="overlayBg">
                                <div class="overlayCard mg-sm pd-l-sm fw-xl">
                                    Blanket so good, you'll fall asleep without eating food.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cardFoot">
                    <a class="btn-link btn-link-noBorder fs-l" href="#"><i class="fas fa-heart"></i></a>
                    <a class="btn-link btn-link-noBorder fs-l" href="#"><i class="fas fa-retweet"></i>
                    </a>
                </div>
            </div>
        </div>

        <pre>
            <code class="showcase">
                <div class="cardShow pd-md">
                    <div class="cardContainer shadows mg-x-md">
                        <div class="partialCard">
                            <div class="cardHeader pd-l-md">
                                <div class="cardHead fs-l fw-xxxl mg-y-sm prim-color">Blanket</div>
                            </div>
                            <div class="cardPic">
                                <img src="/Assets/Images/sleepCat.jpg" />
                                <div class="overlay">
                                    <div class="overlayBg">
                                        <div class="overlayCard mg-sm pd-l-sm fw-xl">
                                            Blanket so good, you'll fall asleep without eating food.
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                        </div>
        
                        <div class="cardFoot">
                            <a class="btn-link btn-link-noBorder fs-l" href="#"><i class="fas fa-heart"></i></a>
                            <a class="btn-link btn-link-noBorder fs-l" href="#"><i class="fas fa-retweet"></i>
        
                            </a>
                        </div>
                    </div>
        
                </div>
            </code>
        </pre>
    </div>

    <footer class="footer">
        <i class="far fa-copyright"></i> Created by
        <a class="btn-link btn-link-noBorder mg-y-sm fw-xxxl" href="http://github.com/Sameony" target="_blank">Mohammed
            Sameer</a>
    </footer>
    <script src="/js/main.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>