/* Main Colors */
:root{
    --primary: #FA6C00;
    --lighter-prim: #FFB882;
    --light-prim: #FFAA69;

    --snow: #ffffff;
    --darc: #000000;

    /* --secondary: #26A2B3; */
    --lemon: #faf431;

    

}