:root {
  --dark-prim: #da650c;
  --primary: #fa6c00;
  --lighter-prim: #ffb882;
  --light-prim: #ffaa69;

  --peach: #fff5ee;
  --dark-peach: #ffede2;
  --darker-peach: #ffc299;

  --darc: #000000;
  --gray: #504f4fde;
  --light-gray: #efefef;

  --lemon: #faf431;
  --snow: #ffffff;

  --caution: #d0342c;
  --light-caution: #ff0000;

  --success: #4bb543;
  --lighter-success: #23da23;

  --blu: #42c0fb;
  --darker-blu: #3299cc;
}
