@import url(/Styles/colors.css);
@import url(/Styles/reset.css);
@import url(/Styles/general.css);
@import url(/Templates/Buttons/buttons.css);
@import url(/Styles/utilities.css);
@import url(/Templates/Inputs/inputs.css);
@import url(/Templates/Cards/cards.css);
@import url(/Templates//Ratings/ratings.css);
@import url(/Templates/Snackbar/snackbar.css);
@import url(/Templates/Avatars/avatars.css);
@import url(/Templates/Alerts/alert.css);
@import url(/Templates/Badges/badge.css);
@import url(/Templates/Images/images.css);
body {
  font-family: "Poppins", sans-serif;
}
.header {
  position: relative;
  z-index: 1;
  color: var(--peach);
  background-color: rgb(26, 29, 36);
  height: 5rem;
  transition: all 0.5s ease-in;
}

/* sidebar */
.drawer {
  position: fixed;
  width: 5rem;
  top: 0;
  transition: all 0.5s ease-in;
  height: 100%;
}

.navigation {
  width: 5rem;
  height: 100%;
  background-color: var(--snow);
  color: var(--darc);
  border-radius: 5px;
  transition: all 0.5s ease-in;
  overflow-y: auto;
  overflow-x: hidden;
}

.navigation ul {
  width: 100%;
  position: relative;
  top: 6.5rem;
  padding-bottom: 4rem;
}

.navigation ul li {
  width: 100%;
}

.navigation ul li:hover {
  background-color: var(--dark-peach);
}

.navigation ul li a {
  width: 100%;
  display: flex;
}

.navigation .smol-ico {
  position: relative;
  min-width: 5rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  font-size: x-large;
  margin-right: 9px;
}

.navigation .smol-title {
  line-height: 4rem;
  white-space: nowrap;
  display: none;
}

.btn-toggle-drawer {
  background-color: var(--primary);
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: calc(50% - 1.5rem);
  right: -2.5rem;
  border: 3px solid var(--snow);
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  cursor: pointer;
}

.btn-toggle-drawer .open-ico {
  display: none;
}

.btn-toggle-drawer .ico {
  position: absolute;
  left: 10px;
  width: 2rem;
  font-size: 2rem;
  color: var(--peach);
}

/* main content container */
.container {
  width: calc(100% - 17rem);
  padding-left: 10rem;
  color: var(--darc);
  transition: all 0.5s ease-in;
}

.showcase {
  max-height: 25rem;
  overflow-y: auto;
}
.footer {
  text-align: center;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 3rem;
  color: var(--peach);
  background-color: rgb(26, 29, 36);
}

.footer .btn-link {
  margin-bottom: 0;
  padding: 0;
}

/* Landing page */
.landingPage {
  height: 100vh;
  font-size: 24px;
  background-color: rgb(26, 29, 36);
  color: var(--snow);
}
.landBox {
  font-family: "Montserrat Alternates", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}
.landingHeader {
  font-size: 48px;
}
.landingDescription {
  width: 30rem;
  font-size: 24px;
}
.imageInside {
  display: inline-block;
  height: 3rem;
}
.imageOutside {
  height: 20rem;
}
.imageOutside img,
.imageInside img {
  height: 100%;
}
.connectorLink {
  border-radius: 2px;
  white-space: nowrap;
  margin: auto;
  text-align: center;
  max-width: 80%;
  background-color: var(--primary);
  padding: 0.8rem 0;
  overflow-x: auto;
}
.landingPage .btn-link:hover {
  font-size: inherit;
}

@media only screen and (max-width: 860px) {
  .imageOutside {
    height: 10rem;
    margin-left: 0;
  }
  .landingContent {
    margin: 0.5rem 0;
  }
  .connectorLink {
    font-size: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .imageOutside {
    display: none;
  }
  .landingContent {
    text-align: center;
  }
  .connectorLink {
    font-size: 18px;
  }
}

@media only screen and (max-width: 550px) {
  .imageOutside {
    display: none;
  }

  .landingHeader {
    font-size: 32px;
  }
  .landingDescription {
    text-align: center;
    width: 25rem;
  }
  .landingDescription,
  .landingPage .btn-link {
    font-size: 20px;
  }
  .connectorLink {
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px) {
  .imageOutside {
    display: none;
  }
  .landBox {
    width: 100%;
  }
  .landingContent {
    margin: 1rem;
  }
  .landingDescription,
  .landingPage .btn-link {
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  .imageOutside {
    display: none;
  }
  .landBox .btn {
    font-size: 12px;
  }
  .landingContent {
    margin: 1rem;
  }
  .landingDescription {
    width: 18rem;
  }
}
